<h1>afb</h1>
<h2>(aka aaron foster breilyn)</h2>
<br>
<p>writes:</p>
<p><a>/daily</a></p>
<p>
  <a href="https://www.stridenyc.com/blog/author/aaron-foster-breilyn" target="_blank">
    /tech-blogs-for-stride-(where he also works)
  </a>
</p>
<p><a href="https://soundcloud.com/aaronfosterbreilyn" target="_blank">/music</a></p>
<p><a href="https://www.linkedin.com/in/afbreilyn/" target="_blank">/awkwardly about past jobs</a></p>
<p><a href="https://github.com/afbreilyn" target="_blank">/code</a></p>
